{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{% set vCount = node.field_cover.getvalue|length %}
{% set tCount = node.field_teaser_text.getvalue|length %}
{% set showPopup = node.field_show_popup.getvalue|length %}

{% if node.field_featured_status.value == '1' %}
  {% set fClass = node.field_cover.getvalue|length %}
{% endif %}

{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
    vCount > 0 ? 'video-media',
    tCount > 0 ? 'has-teaser-text',
    tCount == 0 ? 'has-empty-teaser',
    showPopup > 0 ? 'show-popup',
    node.field_featured_status.value == '1' ? 'feachured-post'
  ]
%}

<article{{ attributes.addClass(classes) }}>

  <div class="presents">Presents:</div>

  <div{{ content_attributes.addClass('content') }}>
    {% block replaceable %}

    {% if node.field_featured_status.value == '1' %}
      <div id="article-main-media">
        <div class="field-cover">{{ content.field_cover }}</div>

        <!--<div class="on-media">
          <div class="container">
          </div>
        </div>-->
      </div>

      <div class="intro-container">
        <div class="container">
          <div class="post-models">
            {{ content.field_user_model }}
          </div>

          <div class="post-models-stars">
            <div class="post-models-stars-container">
              <div class="post-models-stars-wrap">
                <div class="post-models-stars-content">
                  {{ content.field_stars }}
                </div>
              </div>
            </div>
          </div>

          <div class="post-stuff">
            {{ content.field_user_photo }}
            {{ content.field_user_mua }}
            {{ content.field_stuff }}
          </div>
        </div>
      </div>
    {% else %}

      {% if page %}
        <h1{{ title_attributes }}>{{ label }}</h1>
      {% endif %}

      {{ content.field_user_artist }}
    {% endif %}

      <div class="field-body container">{{ content.body }}</div>

      <div class="mediagallery-wrap cd-single-item container">
        <div class="field-mediagallery cd-slider-wrapper">
          {{ content.field_mediagallery }}
        </div>
      </div>

      <div class="field-pargarphs">{{ content.field_paragraphs }}</div>

      <div class="field-tags container">{{ content.field_tags }}</div>

      <div class="field-comments container">{{ content.field_disqus_comments }}</div>

     {# {{ content.flippy_pager }} #}

    {% endblock %}
  </div>

</article>

<div class="subscribe-popup modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-header"></div>
      <div class="modal-body">
        <div class="col-sm-5">
          <div class="blogo"></div>
          <div class="sb"><a class="twitter-follow-button" href="https://twitter.com/BihusInfo" data-size="large" data-show-count="false">Follow @BihusInfo</a></div>
          <div class="sb"><div class="g-ytsubscribe" data-channel="nashigroshiTV" data-layout="default" data-count="default"></div></div>
            <div class="sb"><div class="fb-follow" data-href="https://www.facebook.com/bihus.info" data-layout="button_count" data-size="large" data-width="154" data-show-faces="true"></div></div>
        </div>
        <div class="col-sm-7">
          <h3>Підпишись на новини</h3>
          <p>(Не спамимо)</p>

        </div>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


